<!-- START _includes/js/prism.html -->
<script src="{{ site.lib.prism.baseurl }}/{{ site.lib.prism.version }}/prism.min.js"></script>
<script src="{{ site.lib.prism.baseurl }}/{{ site.lib.prism.version }}/plugins/line-numbers/prism-line-numbers.min.js"></script>
<script src="{{ site.lib.prism.baseurl }}/{{ site.lib.prism.version }}/plugins/command-line/prism-command-line.min.js"></script>
<script src="{{ site.lib.prism.baseurl }}/{{ site.lib.prism.version }}/components/prism-bash.min.js"></script>
<script src="{{ site.lib.prism.baseurl }}/{{ site.lib.prism.version }}/components/prism-javascript.min.js"></script>
<script src="{{ site.lib.prism.baseurl }}/{{ site.lib.prism.version }}/components/prism-json.min.js"></script>
<script src="{{ site.lib.prism.baseurl }}/{{ site.lib.prism.version }}/components/prism-graphql.min.js"></script>

<!-- END _includes/js/prism.html -->
