<!-- START _includes/css/prism.html -->
<link rel="stylesheet" type="text/css" href="{{ site.lib.prism.baseurl }}/{{ site.lib.prism.version }}/themes/prism-okaidia.min.css">
<link rel="stylesheet" type="text/css" href="{{ site.lib.prism.baseurl }}/{{ site.lib.prism.version }}/plugins/command-line/prism-command-line.min.css">
<link rel="stylesheet" type="text/css" href="{{ site.lib.prism.baseurl }}/{{ site.lib.prism.version }}/plugins/line-numbers/prism-line-numbers.min.css">
<!-- END _includes/css/prism.html -->
